[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://dl.google.com/go/go1.10.linux-amd64.tar.gz
	branch = master
[submodule ".nvm"]
	path = .nvm
	url = https://github.com/creationix/nvm
[submodule ".oh-my-zsh-custom/themes/dracula"]
	path = .oh-my-zsh-custom/themes/dracula
	url = https://github.com/dracula/zsh.git
[submodule ".dotfiles/dracula-xresources"]
	path = .dotfiles/dracula-xresources
	url = https://github.com/dracula/xresources.git
[submodule ".themes/Ant-Dracula"]
	path = .themes/Ant-Dracula
	url = https://github.com/EliverLara/Ant-Dracula.git
[submodule ".dotfiles/autorandr"]
	path = .dotfiles/autorandr
	url = git@github.com:phillipberndt/autorandr.git
[submodule "submodules/catppuccin/rofi"]
	path = submodules/catppuccin/rofi
	url = https://github.com/catppuccin/rofi.git
[submodule "submodules/catppuccin/xresources"]
	path = submodules/catppuccin/xresources
	url = https://github.com/catppuccin/xresources.git
